/* Default Values */
.header {
    background-color: #7477BF;
    grid-area: head;
    display: flex;
    align-items: center;
    padding: 0.4rem 1rem;
    color: white;
    font-size: 0.5rem;
}

nav {
    background-color: #4D4C72;
    grid-area: nav;
    text-align: center;
}

main {
    grid-area: main;
    /* display: grid; */
}

.row {
    display: grid;
}

.grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "head"
        "nav"
        "main"
    ;
}

a {
    text-decoration: none;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

/* Header Section */
.header > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 1rem;
}
.header .notif {
    width: 1.5rem;
    border-right: 2px solid #60629e;
    padding-right: 1rem;
}
.header > h1 {
    /* font-size: 1.5rem; */
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.st0 {
    fill: white;
    padding: 2rem;
    transition: fill 0.5s ease;
}
.notif:hover .st0 {
    fill: #f5d368;
}

/* Nav Section */
nav img {
    width: 1.75rem;
    margin: 0.6rem 0.75rem;
}
nav a {
    display: inline-block;
}
nav a:first-child {
    border-bottom: 3px solid #85DB80;
}

/* Main Header */
.main-header {
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    font-size: 50%;
}
.headline {
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding: 1rem;
    border-right: 1px solid #DFDFDF;
}
.main-header-search input {
    border-radius: 0.5rem;
    border: 0.7px solid #cebbbb;
    padding: 0.5rem;
    margin-right: 0.75rem;
}

/* Alert Banner */
.alert-banner {
    background-color: #7377BF;
    color: #fff;
    border-radius: .5rem;
    padding: 0.05rem 0.5rem;
}
.alert-banner-close {
    margin-left: auto;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.1em 0.4em;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.alert-banner-close:hover {
    background-color: #60629e;
}
.msg-bal {
    background-color: #81C98F;
    color: #fff;
    padding: 0rem 0.5rem;
    display: none;
    text-align: center;
}
.notif {
    position: relative;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffe319;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 14px;
}

/* Chart Nav */
.traffic-header,
.alert-banner,
.social-container,
.members-container,
.activity-container,
.widget-container,
.toggle-button {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 0.65em;
}
.traffic-nav-link {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.25rem;
}
.traffic-nav-link.active {
    background-color: #81C98F;
    color: #fff;
    padding: 0.3em 0.7em;
    border-radius: 1em;
}
.traffic-nav {
    margin-left: auto;
}

.daliy h3,
.mobile-user h3,
.social {
    margin: 1rem;
    font-size: 0.70em;
}

/* Social */
.social-container h3 {
    font-size: 0.70em;
}
.social-container {
    font-size: 1.2em;
    line-height: 2em;
    background-color: #FBFBFB;
    border: 1px solid #D1D1D1;
    border-radius: .5em;
    padding: 1em;
}
.social-image {
    width: 2rem;
    height: 2rem;
    background-color: #7377BF;
    padding: .9rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.social-text p {
    color: #8688C6;
    margin: 0;
    font-weight: bold;
}
.social-text  p:last-child {
    color: #666666;
    font-size: 2rem;
}

/* Members Section */
.members h3 ,
.activity h3,
.settings h3,
.message h3 {
    margin: 1rem;
    font-size: 0.70rem;
}
.members-container img,
.activity-container img {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.members-container p,
.activity-container p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
}

.members-container + .members-container,
.activity-container + .activity-container {
    border-top: 1px solid #e2e0e0;
    padding-top: 0.6rem;
}

/* Message Section */
.widget-container {
    flex-direction: column;
    align-items: stretch;
}
.widget-container * {
    margin-top: 1rem;
}
.form-area {
    resize: none;
}
.form-area,
.form-field {
    background-color: #FBFBFB;
    border: 1px solid #D1D1D1;
    padding: 0.65rem;
    border-radius: 0.25rem;
}
.button-primary,
.button-disabled {
    background-color: #7377BF;
    color: #fff;
    border: none;
    padding: 0.65rem;
    border-radius: 0.25rem;
    font-weight: bold;
}
.button-disabled {
    background-color: #B2B2B2;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.toggle-button > span {
    margin-right: auto;
    font-size: 0.85rem;
}
.settings .form-field,
.settings .settings-button {
    margin-left: 1rem;
    margin-right: 1rem;
}
.settings {
    display: flex;
    flex-direction: column;
}
.settings-button {
    display: flex;
    flex-direction: column;
}
.settings-button button,
#timezone {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

@media (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "head head"
            "nav main"
        ;
    }
    
    .row {
        grid-template-columns: 50%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .member, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .social h3 {
        grid-column: 1 / 4;
    }
    .traffic,
    .mobile-user,
    .daliy,
    .social,
    .members,
    .activity {
        border-bottom: 1px solid #e2e0e0;
    }
    .mobile-user, .activity, .settings {
        border-left: 1px solid #e2e0e0;
    }
    .social {
        margin-bottom: 0;
    }
    nav a:first-child {
        border-right: 3px solid #85DB80;
        border-bottom: none;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.7rem;
    }
}